In [183]:
from datetime import datetime
import pandas as pd
import requests

In [184]:

url ="https://api.openweathermap.org/data/2.5/weather?q=Bangkok&appid=d69585a88935d2a759a90a77d406e260"

r = requests.get(url)
weather = r.json()
weather

{'coord': {'lon': 100.5167, 'lat': 13.75},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02n'}],
 'base': 'stations',
 'main': {'temp': 299.84,
  'feels_like': 301.49,
  'temp_min': 299.22,
  'temp_max': 301.09,
  'pressure': 1010,
  'humidity': 70},
 'visibility': 10000,
 'wind': {'speed': 4.99, 'deg': 188, 'gust': 9.43},
 'clouds': {'all': 24},
 'dt': 1707416288,
 'sys': {'type': 2,
  'id': 2031980,
  'country': 'TH',
  'sunrise': 1707435815,
  'sunset': 1707477644},
 'timezone': 25200,
 'id': 1609350,
 'name': 'Bangkok',
 'cod': 200}

In [185]:
data = weather

In [186]:
city = data["name"]

In [187]:
print(city)

Bangkok

In [188]:
weather_description = data["weather"][0]['description']

In [189]:
print(weather_description)

few clouds

In [190]:
def kelvin_to_celsius(temp_in_kelvin):
    temp_in_celsius = temp_in_kelvin - 273.15
    return temp_in_celsius

In [191]:
temp_celsius = kelvin_to_celsius(data["main"]["temp"])

In [192]:
print(temp_celsius)

26.689999999999998

In [193]:
feels_like_celsius= kelvin_to_celsius(data["main"]["feels_like"])
min_temp_celsius = kelvin_to_celsius(data["main"]["temp_min"])
max_temp_celsius= kelvin_to_celsius(data["main"]["temp_max"])

In [194]:
print(feels_like_celsius)
print(min_temp_celsius)
print(max_temp_celsius)

28.340000000000032
26.07000000000005
27.939999999999998

In [195]:
pressure = data["main"]["pressure"]
humidity = data["main"]["humidity"]

In [196]:
print(pressure)
print(humidity)

1010
70

In [197]:
wind_speed = data["wind"]["speed"]

In [198]:
print(wind_speed)

4.99

In [199]:
time_of_record = datetime.utcfromtimestamp(data['dt'] + data['timezone'])
sunrise_time = datetime.utcfromtimestamp(data['sys']['sunrise'] + data['timezone'])
sunset_time = datetime.utcfromtimestamp(data['sys']['sunset'] + data['timezone'])

In [200]:
print(time_of_record)
print(sunrise_time)
print(sunset_time)

2024-02-09 01:18:08
2024-02-09 06:43:35
2024-02-09 18:20:44

In [201]:
transformed_data = {"Time of Record": time_of_record,
                        "City": city,
                        "Description": weather_description,
                        "Temperature (C)": temp_celsius,
                        "Feels Like (C)": feels_like_celsius,
                        "Minimun Temp (C)":min_temp_celsius,
                        "Maximum Temp (C)": max_temp_celsius,
                        "Pressure": pressure,
                        "Humidty": humidity,
                        "Wind Speed": wind_speed,
                        "Sunrise (Local Time)":sunrise_time,
                        "Sunset (Local Time)": sunset_time                        
                        }

In [202]:
transformed_data_list = [transformed_data]

In [203]:
df_data = pd.DataFrame(transformed_data_list)

In [205]:
df_data.head()

,Time of Record,City,Description,Temperature (C),Feels Like (C),Minimun Temp (C),Maximum Temp (C),Pressure,Humidty,Wind Speed,Sunrise (Local Time),Sunset (Local Time)
0,2024-02-09 01:18:08,Bangkok,few clouds,26.69,28.34,26.07,27.94,1010,70,4.99,2024-02-09 06:43:35,2024-02-09 18:20:44

In [206]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Time of Record        1 non-null      datetime64[ns]
 1   City                  1 non-null      object
 2   Description           1 non-null      object
 3   Temperature (C)       1 non-null      float64
 4   Feels Like (C)        1 non-null      float64
 5   Minimun Temp (C)      1 non-null      float64
 6   Maximum Temp (C)      1 non-null      float64
 7   Pressure              1 non-null      int64
 8   Humidty               1 non-null      int64
 9   Wind Speed            1 non-null      float64
 10  Sunrise (Local Time)  1 non-null      datetime64[ns]
 11  Sunset (Local Time)   1 non-null      datetime64[ns]
dtypes: datetime64[ns](3), float64(5), int64(2), object(2)
memory usage: 228.0+ bytes